/.benchmarkci/
!/benchmark/Manifest.toml
!/benchmark/tune.json
/docs/build/
!/docs/Manifest.toml
/docs/src/index.md
/docs/src/generated-*.md
/docs/src/generated-*/
!/examples/Manifest.toml
LocalPreferences.toml
Manifest.toml
