name = "JET"
uuid = "c3a54625-cd67-489e-a8e7-0a5a0ff4e31b"
version = "0.11.1"
authors = ["Shuhei Kadowaki <aviatesk@gmail.com>"]

[workspace]
projects = ["docs", "test"]

[deps]
CodeTracking = "da1fd8a2-8d9e-5ec2-8556-3022fb5608a2"
Compiler = "807dbc54-b67e-4c79-8afb-eafe4df6f2e1"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
JuliaInterpreter = "aa1ae85d-cabe-5617-a682-6adf51b2e16a"
JuliaSyntax = "70703baa-626e-46a2-a12c-08ffd08c73b4"
LoweredCodeUtils = "6f1432cf-f94c-5a45-995e-cdbf5db27b0b"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[weakdeps]
# Cthulhu = "f68482b8-f384-11e8-15f7-abe071a5a75f"

[extensions]
# JETCthulhuExt = "Cthulhu"

[compat]
CodeTracking = "1, 2, 3"
Compiler = "0.1"
# Cthulhu = "2.17"
InteractiveUtils = "1.10"
JuliaInterpreter = "0.10.3"
JuliaSyntax = "1, 2"
LoweredCodeUtils = "3.4"
MacroTools = "0.5.6"
Pkg = "1.10"
PrecompileTools = "1.3.2"
Preferences = "1.4"
Revise = "3.11"
Test = "1.10"
julia = "1.12"
