name = "TypeProfiler"
uuid = "c3a54625-cd67-489e-a8e7-0a5a0ff4e31b"
authors = ["aviatesk <aviatesk@gmail.com>"]
version = "0.0.0"

[deps]
FileWatching = "7b1f6079-737a-58dc-b8bc-7a2ca5c1b5ee"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"

[extras]
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["InteractiveUtils", "Test"]
