name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # don't stop CI even when one of them fails
      matrix:
        include:
          - version: '1' # current stable
            os: ubuntu-latest
            arch: x64
          - version: '1.11' # lowest version supported
            os: ubuntu-latest
            arch: x64
          - version: '1.12-nightly' # next release
            os: ubuntu-latest
            arch: x64
          - version: 'nightly' # dev
            os: ubuntu-latest
            arch: x64
          - version: '1' # x86 ubuntu
            os: ubuntu-latest
            arch: x86
          - version: '1' # x86 windows
            os: windows-latest
            arch: x86
          - version: '1' # x64 windows
            os: windows-latest
            arch: x64
          - version: '1' # x64 macOS
            os: macos-latest
            arch: x64
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: set `JET_DEV_MODE` # enable development assertions (needs to happen before precompile)
        working-directory: .
        run: |
          echo '[JET]
          JET_DEV_MODE = true' >> LocalPreferences.toml
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
